.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
.vscode
.DS_Store
.vscode/c_cpp_properties.json
.pio-core
.pio-core-local
__pycache__/
*.pyc
.env
.env.*
*.key
*.p12
*.pfx
secrets/
private/
*.zip
